<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<%= raw @message.content %>
<p>
  Dziękujemy za zakupy w naszym sklepie.<br/><br/>
  Wszelkie zapytania odnośnie książek, sposobu składania zamówień i realizacji wysyłki:<br/>
  e-mail: sklep@wydawnictwogaj.pl czynny całą dobę <br/>
  Tel.: 52 581 52 90 czynny od poniedziałku do piątku w godzinach 9-15 <br/>
  Fax: 52 327 91 22 <br/>
  Zapraszamy na www.wydawnictwogaj.pl
</p>
</body>
</html>