<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>
    Witamy serdecznie,<br/>
    Została wygenerowana prośba o zmiane hasła konta o podanym adresie e-mail.<br/>
    Aby wygenerować nowe hasło proszę kliknąć link znajdujący się poniżej. Jeżeli link nie działa, proszę przekopiować
    całą jego zawartość i umieścić link w pasku adresu przeglądarki. Następnie proszę postępować zgodnie z instrukcjami
    wyświetlonymi na podanej stronie.</p>

<p>
    Link do zmiany hasła:<br/>
    <%= link_to edit_password_reset_url(@client.perishable_token), edit_password_reset_url(@client.perishable_token) %>
</p>

<p>
    Jeżeli link nie działa prosimy o kontakt z obsługą sklepu.
    Jeżeli jako właściciel konta o podanym adresie, nie wygenerował/a Pan/Pani prośby o zmianę hasła proszę zignorować
    tą wiadomość e-mail.
</p>

<p>
    Wszelkie zapytania odnośnie książek, sposobu składania zamówień i realizacji wysyłki:<br/>
    e-mail: sklep@wydawnictwogaj.pl czynny całą dobę <br/>
    Tel.: 52 581 52 90 czynny od poniedziałku do piątku w godzinach 9-15 <br/>
    Fax: 52 327 91 22 <br/>
    Zapraszamy na www.wydawnictwogaj.pl
</p>
</body>
</html>